@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
    font-family: 'PT Sans Caption', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.app-body {
    background-color: #E5E5E5;
    max-width: 1366px; 
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20 20 20;
}

.card-body {
    width: 1200px;
    margin: 10px !important;
    font-family: 'Montserrat', sans-serif;
}

.marvel-logo {
    width: 400px;
}

.comics-data {
    padding: 10px;
}

.spinner {
    margin: 50px;
    text-align: center;
}

.header-nav {
    max-height: 64px;
    padding: 0px 0px 20px 0px;

}
.main-nav {
    display: -webkit-flex;
    display: flex;
    width: 1366px;
    
    background: #fff;
    
  }
  .main-nav li:first-child {
    margin-right: auto;
  }
  .main-nav span, img {
    
    font-size: 14px;
    color: #555555;
    display: inline-block;
    
    text-decoration: none;

  }
  .main-nav .logo {
    width: 96px;
    margin: 19px 24px 21px 18px;
  }

  .name-initials {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    width: 25px;
    height: auto;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 700;
    margin: 19px 24px 21px 18px;
  }

  .name-initials:hover {
    background: #555555 0% 0% no-repeat padding-box;
    color: #F5F5F5;

  }

  .student-name {
      margin-top: 16px;
      margin-bottom: 13px;
      width: 267px;
      text-align: end;

  }

  .meta-name {
      font-weight: 700;
      font-family: 'PT Sans Caption', sans-serif;
      padding-right: 8px;
  }

  