.app-body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.card-body {
    width: 600px;
    margin: 10px !important;
}

.marvel-logo {
    width: 400px;
}